// svg url
// buttons
$arrow_up: "../images/icons/arrow_up.svg";
$arrow__hover: "../images/icons/hvarrow.svg";
$arrow__def: "../images/icons/defarrow.svg";
$arrow_inst_def: "../images/icons/instarrow.svg";
$arrow_select: "../images/icons/select_arrow.svg";
$arrow_select_x: "../images/icons/down_disb.svg";
$bag: "../images/icons/Union.svg";
$blocked_def: "../images/icons/blocked_plus2.svg";
$blocked_hover: "../images/icons/blocked_plus1.svg";
$blocked_added: "../images/icons/blocked_disabl.svg";
$blocked_added_hv: "../images/icons/blocked_active.svg";
$menu_cart: "../images/icons/cart.svg";
$arrow_down_grey: "../images/icons/arrow_downres.svg";
$arrow_up_black: "../images/icons/arrow_upres.svg";
$heart_active: "../images/icons/heart_act.svg";
$heart_hover: "../images/icons/heart_act.svg";
$heart_def: "../images/icons/heart.svg";
$heart_black: "../images/icons/heart_bl.svg";
$search: "../images/icons/search.svg";
$phone: "../images/icons/tel.svg";
$basket: "../images/icons/basket.svg";
$basket_hv: "../images/icons/basket_act.svg";
$crux: "../images/icons/crux.svg";
$crux_wt: "../images/icons/crux_wt.svg";
$heart_wt: "../images/icons/heart_wt.svg";
$bag_wt: "../images/icons/Union_wt.svg";
$search_wt: "../images/icons/search_wt.svg";
$menu_mob: "../images/icons/menu_mob.svg";

// cursor 
$cursor_pointer: "../images/icons/pointer.svg";

// html elements 
$check_disabled: "../images/icons/check_empty.svg";
$check_enabled: "../images/icons/checked.svg";
$check_mark_w: "../images/icons/col_white.svg";
$check_mark_b: "../images/icons/col_black.svg";
$check_mark_r: "../images/icons/col_red.svg";
$radio_disabled: "../images/icons/radio1.svg";
$radio_enabled: "../images/icons/radio2.svg";
$dot_enabled: "../images/icons/dot_act.svg";
$dot_disabled: "../images/icons/dot_dis.svg";
$plus: "../images/icons/plus.svg";
$minus: "../images/icons/minus.svg";
$plus_list: "../images/icons/list_plus.svg";
$link_line: "../images/icons/link_line.svg";
$link_line_hv: "../images/icons/link_line_hv.svg";
$code_sbm: "../images/icons/code_sbm.svg";

// symbols brand 
$send_symb: "../images/icons/send.svg";
$instagram: "../images/icons/instagram.svg";
$pinterest: "../images/icons/pinterest.svg";
$twitter: "../images/icons/twitter.svg";
$facebook: "../images/icons/facebook.svg";
$mastercard: "../images/icons/mastercard.png";
$visa: "../images/icons/visa.png";
$paypal: "../images/icons/paypal.png";
$paypal2: "../images/icons/paypal2.svg";
$visamaster: "../images/icons/vm.svg";
$whatsapp: "../images/icons/whatsapp2.svg";

$instagram_hv: "../images/icons/instagram_hv.svg";
$pinterest_hv: "../images/icons/pinterest_hv.svg";
$twitter_hv: "../images/icons/twitter_hv.svg";
$facebook_hv: "../images/icons/facebook_hv.svg";
$whatsapp_hv: "../images/icons/whatsapp2_hv.svg";

// colors 
$red: #C30E0E;
$beige: #DDD6C5;
$color_input_def: #8F8F8F;
$color_inpt_active: #000;
$color_input_error: #C30E0E;
$color_input_disabled: #9A9A9A;

// typography 
$assistant: 'Assistant', sans-serif;
$quotes: "../images/icons/l.svg";

// backgrounds 
$bg-main: #fff;
$bg-head-spaces: #F9F9F9;

// side-menu animation transitions
$side-trans: 0.5s ease;
$num-trans-show: 0.3s ease 0.5s;
$num-trans-hide: 0.2s ease;
// header sizes variables
$h_top: 90px;
$w_min: 100px;
$w_max: 500px;
$w_btw: 400px;

$h_top1: 80px;
$w_min1: 90px;
$w_max1: 500px;
$w_btw1: 410px;

$h_top2: 75px;
$w_min2: 80px;
$w_max2: 400px;
$w_btw2: 320px;

$h_top3: 60px;
$w_min3: 0px;
$w_max3: 100%;
$w_btw3: 25px;
$h_btn3: 65px;