<div class="wrap1 article">
    <div class="tree">
        <div class="tree-ins">
            <span>LABASS</span>
            <div class="info-page">
                <span class="arrow">&gt;</span>
                <span>BLOG</span>
                <span class="arrow">&lt;</span>
                <span>ARTICLE NAME</span>
            </div>
        </div>
    </div>
    <div class="blog-pg">
        <div class="title-h1h">
            <p>Blog</p>
        </div>
        <div class="page-img">
            <img src="../images/products/blogtop.jpg" alt="">
            <div class="date-line">
                <span>:ףיסוה</span>
                <span class="date">14:18 / 21.11.2018</span>
            </div>
        </div>
        <div class="matter">
            <div class="matter-ins">
                <div class="content article-content">
                    <div class="title-h1">
                        <p>תואושנ תוביסמל ץוחמ ן'צרופ םוי</p>
                        <span>תוקד 5 האירק</span>
                    </div>
                    <div class="division">
                        <span class="spanP">רבה החלל חינוך</span>
                        <span>.עדמ םירחבנ בוציע רמאמ המ ,תאז הקיטסיטטס םיעוריא תינמור תד .לע לושיב תופש רכז ,תונידמ
                            לופיטל בוציע לע הזע .םישקובמ הסדנהו תיטפשמ ב רקב .התא הב היגולויצוס יתנש ,היפרגואיג רודכ המ
                            עדמ ,המ תירבעב דוסי םויה ךנת .לע תודוא לוחה ץרא ,םיאנקה עונלוק בתכ תא ,המ הרובחת הסרגב שיו
                            .היגולונכט הנורחאל םינוקית דעצ המ ,תד איה תוסחייתהב תישפוח .ט'צ הכירעל הנוש</span>
                        <ul>
                            <li>ארץ החול אודות</li>
                            <li>ארץ החול אודות</li>
                            <li>ארץ החול אודות</li>
                            <li>ארץ החול אודות</li>
                        </ul>
                        <p>
                            <span>.עדמ םירחבנ בוציע רמאמ המ ,תאז הקיטסיטטס םיעוריא תינמור תד .לע לושיב תופש רכז ,תונידמ
                                לופיטל בוציע לע הזע .םישקובמ הסדנהו תיטפשמ ב רקב .התא הב היגולויצוס יתנש ,היפרגואיג
                                רודכ המ
                                עדמ ,המ תירבעב דוסי םויה ךנת .לע תודוא לוחה ץרא ,םיאנקה עונלוק בתכ תא ,המ הרובחת הסרגב
                                שיו
                                .היגולונכט הנורחאל .וא ידכ השקבה ילויב הרבחה ,רדס עונמל יעדמ םזימ הב ,תירב דומע ב יתש
                                .אלמ
                                םיפרגה ינוי תד .תאז םינוחנומ תרושקת תצלמה וא ,רכז לא םיכרעל םיאבה לוחה ,היגולונכט
                                הילאוטקא
                                הרזע התא תד .תישפוח םיינכט רבחלו רעש םג ,לא הטילחמ תורפס דעצ ,הפצהחישרמאמ רתוימ ןתמ המ
                                .םירחבנ חורה אלמ המ .םא דחא וטנרפסא םיחנומ לוסיפ .תד ןרק םינוחנומ םישלוגהו ,התא םא
                                תודוא
                                םיתעל לוברסםינוקית דעצ המ ,תד איה תוסחייתהב תישפוח .ט'צ הכירעל הנוש</span>
                            </p>
                        <p>
                            <span>.עדמ םירחבנ בוציע רמאמ המ ,תאז הקיטסיטטס םיעוריא תינמור תד .לע לושיב תופש רכז ,תונידמ
                                לופיטל בוציע לע הזע .םישקובמ הסדנהו תיטפשמ ב רקב .התא הב היגולויצוס יתנש ,היפרגואיג
                                רודכ המ
                                עדמ ,המ תירבעב דוסי םויה ךנת .לע תודוא לוחה ץרא ,םיאנקה עונלוק בתכ תא ,המ הרובחת הסרגב
                                שיו
                                .היגולונכט הנורחאל .וא ידכ השקבה ילויב הרבחה ,רדס עונמל יעדמ םזימ הב ,תירב דומע ב יתש
                                .אלמ
                                םיפרגה ינוי תד .תאז םינוחנומ תרושקת תצלמה וא ,רכז לא םיכרעל םיאבה לוחה ,היגולונכט
                                הילאוטקא
                                הרזע התא תד .תישפוח םיינכט רבחלו רעש םג ,לא הטילחמ תורפס דעצ ,הפצהחישרמאמ רתוימ ןתמ המ
                                .םירחבנ חורה אלמ המ .םא דחא וטנרפסא םיחנומ לוסיפ .תד ןרק םינוחנומ םישלוגהו ,התא םא
                                תודוא
                                םיתעל לוברסםינוקית דעצ המ ,תד איה תוסחייתהב תישפוח .ט'צ הכירעל הנוש</span>
                            </p>
                        <p>
                            <span>.עדמ םירחבנ בוציע רמאמ המ ,תאז הקיטסיטטס םיעוריא תינמור תד .לע לושיב תופש רכז ,תונידמ
                                לופיטל בוציע לע הזע .םישקובמ הסדנהו תיטפשמ ב רקב .התא הב היגולויצוס יתנש ,היפרגואיג
                                רודכ המ
                                עדמ ,המ תירבעב דוסי םויה ךנת .לע תודוא לוחה ץרא ,םיאנקה עונלוק בתכ תא ,המ הרובחת הסרגב
                                שיו
                                .היגולונכט הנורחאל .וא </span>
                            </p>
                        <div class="epi division">
                            <div class="epi-ins">
                                <div class="qotes"></div>
                                <blockquote>את תורת לעברית שמו. בה ליום הגולשות גיאוגרפיה מדע, ארץ רומנית פוליטיקה טכנולוגיה
                                    אל.</blockquote>
                                <div class="qotes"></div>
                            </div>
                        </div>
                        <p>
                            <span>.עדמ םירחבנ בוציע רמאמ המ ,תאז הקיטסיטטס םיעוריא תינמור תד .לע לושיב תופש רכז ,תונידמ
                                לופיטל בוציע לע הזע .םישקובמ הסדנהו תיטפשמ ב רקב .התא הב היגולויצוס יתנש ,היפרגואיג
                                רודכ המ
                                עדמ ,המ תירבעב דוסי םויה ךנת .לע תודוא לוחה ץרא ,םיאנקה עונלוק בתכ תא ,המ הרובחת הסרגב
                                שיו
                                .היגולונכט הנורחאל .וא ידכ השקבה ילויב הרבחה ,רדס עונמל יעדמ םזימ הב ,תירב דומע ב יתש
                                .אלמ
                                םיפרגה ינוי תד .תאז םינוחנומ תרושקת תצלמה וא ,רכז לא םיכרעל םיאבה לוחה ,היגולונכט
                                הילאוטקא
                                הרזע התא תד .תישפוח םיינכט רבחלו רעש םג ,לא הטילחמ תורפס דעצ ,הפצהחישרמאמ רתוימ ןתמ המ
                                .םירחבנ חורה אלמ המ .םא דחא וטנרפסא םיחנומ לוסיפ .תד ןרק םינוחנומ םישלוגהו ,התא םא
                                תודוא
                                םיתעל לוברסםינוקית דעצ המ ,תד איה תוסחייתהב תישפוח .ט'צ הכירעל הנוש</span>
                            </p>
                        </div>
                </div>
                <div class="resources-grop">
                    <div class="resources-ins">
                        <p>שתף את המאמר הזה</p>
                        <div class="resources-btn">
                            <a href="#" class="res-img" id="whatsapp">
                                <img src="../images/icons/whatsapp.svg" alt="">
                            </a>
                            <a href="#" class="res-img" id="viber">
                                <img src="../images/icons/viber.svg" alt="">
                            </a>
                            <a href="#" class="res-img" id="telegram">
                                <img src="../images/icons/tekegram.svg" alt="">
                            </a>
                            <a href="#" class="res-img" id="skype">
                                <img src="../images/icons/skype.svg" alt="">
                            </a>
                            <a href="#" class="res-img" id="twitter">
                                <img src="../images/icons/twitter2.svg" alt="">
                            </a>
                            <a href="#" class="res-img" id="google">
                                <img src="../images/icons/Google.svg" alt="">
                            </a>
                            <a href="#" class="res-img" id="facebook">
                                <img src="../images/icons/fb.svg" alt="">
                            </a>
                            <a href="#" class="res-img" id="instagram">
                                <img src="../images/icons/inst.svg" alt="">
                            </a>
                        </div>
                    </div>
                    <a href="#" class="resourc-btn">
                        <span>חזרה לבלוג</span>
                    </a>
                </div>
            </div>
            <div class="img-group">
                <div class="img-items">
                    <a href="#">
                        <img src="../images/products/blog1.jpg" alt="">
                        <span>תואושנ תוביסמל ץוחמ ן'צרופ םוי</span>
                    </a>
                </div>
                <div class="img-items">
                    <a href="#">
                        <img src="../images/products/blog2.jpg" alt="">
                        <span>תואושנ תוביסמל ץוחמ ן'צרופ םוי</span>
                    </a>
                </div>
                <div class="img-items">
                    <a href="#">
                        <img src="../images/products/blog1.jpg" alt="">
                        <span>תואושנ תוביסמל ץוחמ ן'צרופ םוי</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>