<div class="blog wrap1">
    <div class="tree">
        <div class="tree-ins">
            <span>LABASS</span>
            <div class="info-page">
                <span class="arrow">&gt;</span>
                <span>BLOG</span>
            </div>
        </div>
    </div>
    <div class="title-h1h">
        <p>Blog</p>
    </div>
    <div class="content-image">
        <a href="#" class="inside1 link">
            <div class="img">
                <img src="images/products/blog11.jpg" alt="">
            </div>
            <div class="desc">
                <div class="desc-ins">
                    <span>תואושנ תוביסמל ץוחמ ן'צרופ םוי</span><br>
                    <span class="date">21.12.2018</span>
                </div>
            </div>
        </a>
        <div class="inside1">
            <a href="#" class="inside2 link">
                <div class="img">
                    <img src="images/products/blog12.jpg" alt="">
                </div>
                <div class="desc">
                    <div class="desc-ins">
                        <span>תואושנ תוביסמל ץוחמ ן'צרופ םוי</span>
                    </div>
                </div>
            </a>
            <div class="inside2">
                <a href="#" class="inside3 link">
                    <div class="img">
                        <img src="images/products/blog13.jpg" alt="">
                    </div>
                    <div class="desc">
                        <div class="desc-ins">
                            <span>Pantone color 2019 official</span>
                        </div>
                    </div>
                </a>
                <a href="#" class="inside3 link">
                    <div class="img">
                        <img src="images/products/blog14.jpg" alt="">
                    </div>
                    <div class="desc">
                        <div class="desc-ins">
                            <span>תואושנ תוביסמל ץוחמ ן'צרופ םוי</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="blog-middle">
        <div class="blog-items-group">
            <div class="blog-items-group-ins">
                <a href="#" class="item1">
                    <div class="img">
                        <img src="images/products/blog20.jpg" alt="">
                    </div>
                    <div class="cont">
                        <div class="desc1">
                            <span class="title">תואושנ תוביסמל ץוחמ ן'צרופ םוי</span>
                            <span>19.12.2018</span>
                        </div>
                        <div class="desc2">
                            <span>כלכלה משפטים וכמקובל בה אתה, מדע דת עזרה זכויות. יוני הקנאים אל כדי, אל לוח פנאי
                                בישול ופיתוחה, כיצד תאולוגיה שמו אל. בה לוח טיפול בארגז אגרונומיה, קרן שפות וכמקובל אל.
                                מאמר </span>
                        </div>
                    </div>
                </a>
                <a href="#" class="item1">
                    <div class="img">
                        <img src="images/products/blog21.jpg" alt="">
                    </div>
                    <div class="cont">
                        <div class="desc1">
                            <span class="title">תואושנ תוביסמל ץוחמ ן'צרופ םוי</span>
                            <span>19.12.2018</span>
                        </div>
                        <div class="desc2">
                            <span>כלכלה משפטים וכמקובל בה אתה, מדע דת עזרה זכויות. יוני הקנאים אל כדי, אל לוח פנאי
                                בישול ופיתוחה, כיצד תאולוגיה שמו אל. בה לוח טיפול בארגז אגרונומיה, קרן שפות וכמקובל אל.
                                מאמר </span>
                        </div>
                    </div>
                </a>
                <a href="#" class="item1">
                    <div class="img">
                        <img src="images/products/blog20.jpg" alt="">
                    </div>
                    <div class="cont">
                        <div class="desc1">
                            <span class="title">תואושנ תוביסמל ץוחמ ן'צרופ םוי</span>
                            <span>19.12.2018</span>
                        </div>
                        <div class="desc2">
                            <span>כלכלה משפטים וכמקובל בה אתה, מדע דת עזרה זכויות. יוני הקנאים אל כדי, אל לוח פנאי
                                בישול ופיתוחה, כיצד תאולוגיה שמו אל. בה לוח טיפול בארגז אגרונומיה, קרן שפות וכמקובל אל.
                                מאמר </span>
                        </div>
                    </div>
                </a>
                <a href="#" class="item1">
                    <div class="img">
                        <img src="images/products/blog21.jpg" alt="">
                    </div>
                    <div class="cont">
                        <div class="desc1">
                            <span class="title">תואושנ תוביסמל ץוחמ ן'צרופ םוי</span>
                            <span>19.12.2018</span>
                        </div>
                        <div class="desc2">
                            <span>כלכלה משפטים וכמקובל בה אתה, מדע דת עזרה זכויות. יוני הקנאים אל כדי, אל לוח פנאי
                                בישול ופיתוחה, כיצד תאולוגיה שמו אל. בה לוח טיפול בארגז אגרונומיה, קרן שפות וכמקובל אל.
                                מאמר </span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="pagination">
                <a href="#" class="active">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
            </div>
        </div>
        <div class="letter">
            <div class="letter-ins">
                <form name="email_form" novalidate>
                    <div class="title">
                        <span>ונלש רטלזוינל םשריה</span>
                    </div>
                    <input type="email" name="email" placeholder="e-mail">
                    <div class="error-msg">
                        <span class="bad">Invalid email!</span>
                        <span class="empty">Please, type your email!</span>
                    </div>
                    <button type="submit" id="email_form_sbm">יונמ</button>
                </form>
            </div>
        </div>
    </div>
    <div class="gallery-instagr">
        <div class="gallery-instagr-ins">
            <div class="control-panel">
                <button id="inst_btn_prev" class="gallery-btn-inst"></button>
                <div class="title-group">
                    <div class="inst-ico"></div>
                    <span>Join OUR INSTAGRAM</span>
                </div>
                <button id="inst_btn_next" class="gallery-btn-inst"></button>
            </div>
            <div class="images-grop">
                <a href="#" class="img-inst">
                    <img src="images/products/gal1.jpg" alt="">
                    <div class="shade">
                        <p>
                            <span class="inst-mark"></span>
                            <span class="text">view it</span>
                        </p>
                    </div>
                </a>
                <a href="#" class="img-inst">
                    <img src="images/products/gal2.jpg" alt="">
                    <div class="shade">
                        <p>
                            <span class="inst-mark"></span>
                            <span class="text">view it</span>
                        </p>
                    </div>
                </a>
                <a href="#" class="img-inst">
                    <img src="images/products/gal3.jpg" alt="">
                    <div class="shade">
                        <p>
                            <span class="inst-mark"></span>
                            <span class="text">view it</span>
                        </p>
                    </div>
                </a>
                <a href="#" class="img-inst">
                    <img src="images/products/gal4.jpg" alt="">
                    <div class="shade">
                        <p>
                            <span class="inst-mark"></span>
                            <span class="text">view it</span>
                        </p>
                    </div>
                </a>
                <a href="#" class="img-inst">
                    <img src="images/products/gal1.jpg" alt="">
                    <div class="shade">
                        <p>
                            <span class="inst-mark"></span>
                            <span class="text">view it</span>
                        </p>
                    </div>
                </a>
                <a href="#" class="img-inst">
                    <img src="images/products/gal2.jpg" alt="">
                    <div class="shade">
                        <p>
                            <span class="inst-mark"></span>
                            <span class="text">view it</span>
                        </p>
                    </div>
                </a>
                <a href="#" class="img-inst">
                    <img src="images/products/gal3.jpg" alt="">
                    <div class="shade">
                        <p>
                            <span class="inst-mark"></span>
                            <span class="text">view it</span>
                        </p>
                    </div>
                </a>
                <a href="#" class="img-inst">
                    <img src="images/products/gal4.jpg" alt="">
                    <div class="shade">
                        <p>
                            <span class="inst-mark"></span>
                            <span class="text">view it</span>
                        </p>
                    </div>
                </a>
                <a href="#" class="img-inst">
                    <img src="images/products/gal1.jpg" alt="">
                    <div class="shade">
                        <p>
                            <span class="inst-mark"></span>
                            <span class="text">view it</span>
                        </p>
                    </div>
                </a>
                <a href="#" class="img-inst">
                    <img src="images/products/gal2.jpg" alt="">
                    <div class="shade">
                        <p>
                            <span class="inst-mark"></span>
                            <span class="text">view it</span>
                        </p>
                    </div>
                </a>
                <a href="#" class="img-inst">
                    <img src="images/products/gal3.jpg" alt="">
                    <div class="shade">
                        <p>
                            <span class="inst-mark"></span>
                            <span class="text">view it</span>
                        </p>
                    </div>
                </a>
                <a href="#" class="img-inst">
                    <img src="images/products/gal4.jpg" alt="">
                    <div class="shade">
                        <p>
                            <span class="inst-mark"></span>
                            <span class="text">view it</span>
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>