<div class="wrap1 checkout">
    <div class="title-h1h">
        <p>קודבל</p>
    </div>
    <div class="checkout-ins form-content">
    <form name="checkout" novalidate>
        <div class="column">
            <div class="orders-group">
                <div class="top-line">
                    <span>ךלש הנמזהה</span>
                    <span class="bag"></span>
                </div>
                <div class="orders-window">
                    <div class="orders-window-ins scroll">
                        <div class="order-item">
                            <div class="img">
                                <img src="../images/products/good1.png" alt="" id="">
                            </div>
                            <div class="middle">
                                <div class="text-group">
                                    <span class="name">לברב</span>
                                    <span> לע ךרעב / לע ךרעב / לע ךרעב</span>
                                </div>
                                <div class="count-group">
                                    <a href="#" class="minus"></a>
                                    <span class="number" id="number_1">1</span>
                                    <a href="#" class="plus"></a>
                                </div>
                            </div>
                            <div class="left">
                                <a class="basket"></a>
                                <span>₪ 50</span>
                            </div>
                        </div>
                        <div class="order-item">
                            <div class="img">
                                <img src="../images/products/good2.png" alt="" id="">
                            </div>
                            <div class="middle">
                                <div class="text-group">
                                    <span class="name">לברב</span>
                                    <span> לע ךרעב / לע ךרעב / לע ךרעב</span>
                                </div>
                                <div class="count-group">
                                    <a href="#" class="minus"></a>
                                    <span class="number" id="number_1">1</span>
                                    <a href="#" class="plus"></a>
                                </div>
                            </div>
                            <div class="left">
                                <a class="basket"></a>
                                <span>₪ 50</span>
                            </div>
                        </div>
                        <div class="order-item">
                            <div class="img">
                                <img src="../images/products/good3.png" alt="" id="">
                            </div>
                            <div class="middle">
                                <div class="text-group">
                                    <span class="name">לברב</span>
                                    <span> לע ךרעב / לע ךרעב / לע ךרעב</span>
                                </div>
                                <div class="count-group">
                                    <a href="#" class="minus"></a>
                                    <span class="number" id="number_1">1</span>
                                    <a href="#" class="plus"></a>
                                </div>
                            </div>
                            <div class="left">
                                <a class="basket"></a>
                                <span>₪ 50</span>
                            </div>
                        </div>
                        <div class="order-item">
                            <div class="img">
                                <img src="../images/products/good1.png" alt="" id="">
                            </div>
                            <div class="middle">
                                <div class="text-group">
                                    <span class="name">לברב</span>
                                    <span> לע ךרעב / לע ךרעב / לע ךרעב</span>
                                </div>
                                <div class="count-group">
                                    <a href="#" class="minus"></a>
                                    <span class="number" id="number_1">1</span>
                                    <a href="#" class="plus"></a>
                                </div>
                            </div>
                            <div class="left">
                                <a class="basket"></a>
                                <span>₪ 50</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="price-group">
                <div class="parts-price border-btm">
                    <div class="part">
                        <span>:price</span>
                        <span class="price">₪ 150</span>
                    </div>
                    <div class="part">
                        <span>:delivery price</span>
                        <span class="price">₪ 10</span>
                    </div>
                </div>
                <div class="entire-price">
                    <span>:total price</span>
                    <span class="price">₪ 160</span>
                </div>
                <div class="discount">
                    <div class="desc">
                        <span>Write here the coupon code, if you have it</span>
                    </div>
                    <div class="input-group">
                        <div class="discount-inside">
                            <input type="text" name="code" required placeholder="write code here">
                            <button type="button" id="discount_sbm"></button>
                        </div>
                        <div class="error-msg code">
                            <span class="bad">Your code is not correctly!</span>
                            <span class="empty">Please, type the coupon code!</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column respons">
            <div class="checkout-form">
                    <div class="text">
                        <span class="simple-text">תבותכה תא רחב</span>
                    </div>
                    <select name="address_list" disabled data-placeholder="address">
                        <option value=""></option>
                        <option value="ad1">address1</option>
                        <option value="ad2">address2</option>
                        <option value="ad3">address3</option>
                    </select>
                    <div class="error-msg address-error">
                        <span class="empty">Please select address!</span>
                    </div>
                    <div class="text text2">
                        <span class="simple-text">ןאכ ץחל ?תרחא תבותכל הנתמכ חולשל הצור</span>
                    </div>
                    <a href="#" class="box-btn">
                        <span>הנתמ חלש</span>
                        <span class="img"></span>
                    </a>
                    <div class="checkout-forhide">
                        <input type="text" name="names" placeholder="reciepent name surname" required>
                        <div class="error-msg">
                            <span class="empty">Please type your name!</span>
                        </div>
                        <input type="tel" name="phone" placeholder="phone">
                        <div class="error-msg">
                            <span class="bad">Incorrectly phone number!</span>
                            <span class="empty">Please, type your phone!</span>
                        </div>
                        <select name="country" required data-placeholder="country">
                            <option value=""></option>
                            <option value="uk">Ukraine</option>
                            <option value="is">Israel</option>
                            <option value="gr">Grice</option>
                        </select>
                        <div class="error-msg country-error">
                            <span class="empty">Please, select country!</span>
                        </div>
                        <select name="city" required data-placeholder="city">
                            <option value=""></option>
                            <option value="hf">Haifa</option>
                            <option value="er">Erusalem</option>
                            <option value="gr">Grice</option>
                        </select>
                        <div class="error-msg city-error">
                            <span class="empty">Please, select city!</span>
                        </div>
                        <input type="text" name="address" placeholder="address" required>
                        <div class="error-msg">
                            <span class="bad">Invalid address!</span>
                            <span class="empty">Please, type address!</span>
                        </div>
                        <div class="double-input">
                            <input type="text" name="house_nmber" placeholder="house number" required>
                            <input type="text" name="flat_nmber" placeholder="flat number">
                        </div>
                        <div class="error-msg house_nmber">
                            <span class="empty">Please, type house number!</span>
                        </div>
                        <div class="error-msg flat_nmber">
                            <span class="empty">Please, type flat number!</span>
                        </div>
                        <input type="number" name="index" placeholder="index" required>
                        <div class="error-msg">
                            <span class="bad">Your index must have 6 character!</span>
                            <span class="empty">Please, type index!</span>
                        </div>
                        <div class="check">
                            <input type="checkbox" name="checkout_checkbox" value="reg_checkbox" id="checkout_checkbox">
                            <label for="checkout_checkbox">
                                <span class="rect"></span>
                                <span>הכרב סיטרכ ףרצ</span>
                            </label>
                            <input type="text" name="gift" placeholder="gift card text" disabled>
                            <div class="error-msg">
                                <span class="empty">Please, type gift card text!</span>
                            </div>
                        </div>
                    </div>
                    <div class="payment-group border-btm">
                        <span class="desc-pay">Payment method</span>
                        <div class="pay-systems">
                            <div class="pey-img-group">
                                <span class="paypal"></span>
                            </div>
                            <div class="radio">
                                <input type="radio" name="paysystem" value="paypal" id="paysystem_paypal" checked>
                                <label for="paysystem_paypal">
                                    <span class="rect"></span>
                                    <span>PayPal</span>
                                </label>
                            </div>
                        </div>
                        <div class="pay-systems">
                            <div class="pey-img-group">
                                <span class="mastvisa"></span>
                            </div>
                            <div class="radio">
                                <input type="radio" name="paysystem" value="mastervisa" id="paysystem_mastvisa">
                                <label for="paysystem_mastvisa">
                                    <span class="rect"></span>
                                    <span>Visa / Mastercard</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <span>Enter a comment for your order in the field below. Please consider that processing your
                            comment might delay the shipping a little.</span>
                        <textarea name="comment" cols="60" rows="3" placeholder="Comment"></textarea>
                    </div>
                    <button type="submit" id="checkout_sbm" class="black">DONE</button>
            </div>
        </div>
    </form>
    </div>
</div>