<!-- FOOTER -->
<footer class="footer">
    <div class="resources">
        <div class="col inp">
            <div class="input">
                <span>רטלזוינל םשריהל</span>
                <form name="email_order">
                    <div class="email-block">
                    <input type="email" name="email" required placeholder="your e-mail">
                    <button type="submit" id="email_order_sbm"></button>
                    </div>
                    <div class="succ-message">
                        <div class="succ-message-ins">
                            <p>adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation </p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="socnetworks">
                <div class="soc-ins">
                    <a href="#" class="pinterrest social"></a>
					<div class="">

					</div>
                </div>
                <div class="soc-ins">
                    <a href="#" class="instagram social"></a>
                </div>
                <div class="soc-ins">
                    <a href="#" class="twitter social"></a>
                </div>
                <div class="soc-ins">
                    <a href="#" class="facebook social"></a>
                </div>
            </div>
        </div>
        <div class="col paysystems">
            <div id="mastercard"></div>
            <div id="visa"></div>
            <div id="paypal"></div>
        </div>
        <div class="col">
            <a href="#" class="links">ABOUT US</a>
            <a href="#" class="links">SHIPPING</a>
            <a href="#" class="links">PAYMENT</a>
            <a href="#" class="links">CONTACT US</a>
        </div>
        <div class="col">
            <a href="#" class="links">NEW PRODUCTS</a>
            <a href="#" class="links">BESTSELLERS</a>
            <a href="#" class="links">MATERIALS</a>
        </div>
    </div>
    <div class="sign">
        <div class="sign-ins">
            <p>POWERED BY <span>ANVI</span> </p>
            <p>LABASS 2018 - 2019 ©</p>
        </div>
    </div>
</footer>
<!-- FOOTER -->

<!-- SCRIPTS -->
<script src="js/plagins/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/validate_script.js"></script>

<!-- build:js -->
<script type="text/javascript" src="js/plagins/jquery.fancybox.js"></script>

<script type="text/javascript" src="js/plagins/select2.js"></script>
<script type="text/javascript" src="js/plagins/jquery.validate.min.js"></script>
<script type="text/javascript" src="js/plagins/maskInput.js"></script>
<script type="text/javascript" src="js/plagins/slick.js"></script>
<script type="text/javascript" src="js/plagins/simplebar.js"></script>


<script type="text/javascript" src="js/basic_scripts.js"></script>
<script type="text/javascript" src="js/develop/main.js"></script>
<script type="text/javascript" src="js/develop/custom.js"></script>
<!-- endbuild -->

<!-- /SCRIPTS -->