<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>WebArtG</title>
    <link rel="shortcut icon" href="images/favico.png" type="image/png">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <!-- build:css -->

    <link href="https://fonts.googleapis.com/css?family=Assistant:300,400,600,700&amp;subset=hebrew" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.6/jquery.fancybox.css" />
    <link rel="stylesheet" href="css/znormalize.css">    
    <link rel="stylesheet" href="css/select2/select2.css"> 
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css">
    <!-- add new file here -->

    <link rel="stylesheet" href="css/basic.css">
    <link rel="stylesheet" href="css/main_styles.css">
    <link rel="stylesheet" href="css/main_adapt.css">
    <link rel="stylesheet" href="css/Xcustom.css">
    <link rel="stylesheet" href="css/Xcustom_adapt.css">
    <!-- endbuild -->

    <!--[if lt IE 10]>
    <link rel="stylesheet" href="https://rawgit.com/codefucker/finalReject/master/reject/reject.css" media="all" />
    <script type="text/javascript" src="https://rawgit.com/codefucker/finalReject/master/reject/reject.min.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
