<div class="wrap1 history">
    <div class="title-forms">
        <div class="info-page">
            <span class="grey">ישיא ןובשח</span>
            <span class="slash">&#x002F;</span>
            <span>הירוטסיה</span>
        </div>
    </div>
    <div class="hist-orders-group">
        <div class="hist-orders-item">
            <p class="date">
                <span>01.12.2018</span>
            </p>
            <div class="orders-group cutted">
                <div class="orders-window">
                    <div class="orders-window-ins scroll">
                        <div class="order-item">
                            <div class="img">
                                <img src="../images/products/good1.png" alt="" id="">
                            </div>
                            <div class="middle">
                                <div class="text-group">
                                    <span class="name">לברב</span>
                                    <span> לע ךרעב / לע ךרעב / לע ךרעב</span>
                                </div>
                                <div class="count-group">
                                    <a href="#" class="minus"></a>
                                    <span class="number" id="number_1">1</span>
                                    <a href="#" class="plus"></a>
                                </div>
                            </div>
                            <div class="left">
                                <span>₪ 50</span>
                            </div>
                        </div>
                        <div class="order-item">
                            <div class="img">
                                <img src="../images/products/good2.png" alt="" id="">
                            </div>
                            <div class="middle">
                                <div class="text-group">
                                    <span class="name">לברב</span>
                                    <span> לע ךרעב / לע ךרעב / לע ךרעב</span>
                                </div>
                                <div class="count-group">
                                    <a href="#" class="minus"></a>
                                    <span class="number" id="number_1">1</span>
                                    <a href="#" class="plus"></a>
                                </div>
                            </div>
                            <div class="left">
                                <span>₪ 50</span>
                            </div>
                        </div>
                        <div class="order-item">
                            <div class="img">
                                <img src="../images/products/good3.png" alt="" id="">
                            </div>
                            <div class="middle">
                                <div class="text-group">
                                    <span class="name">לברב</span>
                                    <span> לע ךרעב / לע ךרעב / לע ךרעב</span>
                                </div>
                                <div class="count-group">
                                    <a href="#" class="minus"></a>
                                    <span class="number" id="number_1">1</span>
                                    <a href="#" class="plus"></a>
                                </div>
                            </div>
                            <div class="left">
                                <span>₪ 50</span>
                            </div>
                        </div>
                        <div class="order-item">
                            <div class="img">
                                <img src="../images/products/good1.png" alt="" id="">
                            </div>
                            <div class="middle">
                                <div class="text-group">
                                    <span class="name">לברב</span>
                                    <span> לע ךרעב / לע ךרעב / לע ךרעב</span>
                                </div>
                                <div class="count-group">
                                    <a href="#" class="minus"></a>
                                    <span class="number" id="number_1">1</span>
                                    <a href="#" class="plus"></a>
                                </div>
                            </div>
                            <div class="left">
                                <span>₪ 50</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="price-line">
                    <span>:price</span>
                    <span class="price">₪ 150</span>
                </div>
            </div>
            <div class="hist-datas">
                <span class="descript">חלשנ</span>
                <span class="dw-date">03.12.2018</span>
            </div>
        </div>
        <div class="hist-orders-item">
                <p class="date">
                    <span>04.12.2018</span>
                </p>
                <div class="orders-group cutted">
                    <div class="orders-window">
                        <div class="orders-window-ins scroll">
                            <div class="order-item">
                                <div class="img">
                                    <img src="../images/products/good1.png" alt="" id="">
                                </div>
                                <div class="middle">
                                    <div class="text-group">
                                        <span class="name">לברב</span>
                                        <span> לע ךרעב / לע ךרעב / לע ךרעב</span>
                                    </div>
                                </div>
                                <div class="left">
                                    <span>₪ 50</span>
                                </div>
                            </div>
                            <div class="order-item">
                                <div class="img">
                                    <img src="../images/products/good2.png" alt="" id="">
                                </div>
                                <div class="middle">
                                    <div class="text-group">
                                        <span class="name">לברב</span>
                                        <span> לע ךרעב / לע ךרעב / לע ךרעב</span>
                                    </div>
                                </div>
                                <div class="left">
                                    <span>₪ 50</span>
                                </div>
                            </div>
                            <div class="order-item">
                                <div class="img">
                                    <img src="../images/products/good3.png" alt="" id="">
                                </div>
                                <div class="middle">
                                    <div class="text-group">
                                        <span class="name">לברב</span>
                                        <span> לע ךרעב / לע ךרעב / לע ךרעב</span>
                                    </div>
                                </div>
                                <div class="left">
                                    <span>₪ 50</span>
                                </div>
                            </div>
                            <div class="order-item">
                                <div class="img">
                                    <img src="../images/products/good1.png" alt="" id="">
                                </div>
                                <div class="middle">
                                    <div class="text-group">
                                        <span class="name">לברב</span>
                                        <span> לע ךרעב / לע ךרעב / לע ךרעב</span>
                                    </div>
                                </div>
                                <div class="left">
                                    <span>₪ 50</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="price-line">
                        <span>:price</span>
                        <span class="price">₪ 150</span>
                    </div>
                </div>
                <div class="hist-datas">
                    <span class="today">בתהליך</span>
                </div>
            </div>
    </div>
</div>