<div class="information wrap1">
        <div class="tree">
            <div class="tree-ins">
                <span>LABASS</span>
                <div class="info-page">
                    <span class="arrow">&gt;</span>
                    <span>information page</span>
                </div>
            </div>
        </div>
        <div class="page">
            <div class="page-menu">
                <ul class="page-menu-ins">
                    <li>
                        <a class="buttons-menu" href="#">
                            <span>About us</span>
                            <span class="plus"></span>
                        </a>
                    </li>
                    <li>
                        <a class="buttons-menu" href="#">
                            <span>Contacts</span>
                            <span class="plus"></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a class="buttons-menu" href="#">
                                    <span>Text</span>
                                </a>
                            </li>
                            <li>
                                <a class="buttons-menu" href="#">
                                    <span>Text</span>
                                </a>
                            </li>
                            <li>
                                <a class="buttons-menu" href="#">
                                    <span>Text</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="buttons-menu" href="#">
                            <span>Materials</span>
                            <span class="plus"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="content">
                <h1>RETURNS</h1>
                <h4>HOW DO I SIGN IN?</h4>
                <p>He an thing rapid these after going drawn or. Timed she his law the spoil round defer. In surprise concerns informed betrayed he learning is ye. Ignorant formerly so ye blessing. He as spoke avoid given downs money on we. Of properly carriage shutters ye as wandered up repeated moreover. Inquietude attachment if ye an solicitude to. Remaining so continued concealed as knowledge happiness. Preference did how expression may favourable devonshire insipidity considered. An length design regret an hardly barton mr figure.
                </p>
                <h4>30-DAY RETURNS (FREE WITHIN 15 DAYS)</h4>
                <p>He an thing rapid these after going drawn or. Timed she his law the spoil round defer. In surprise concerns informed betrayed he learning is ye. Ignorant formerly so ye blessing. He as spoke avoid given downs money on we. Of properly carriage shutters ye as wandered up repeated moreove
                </p>
                <h4>HOW DO I SIGN IN?</h4>
                <p>He an thing rapid these after going drawn or.<a href="#">kjfhbkfh</a> Timed she his law the spoil round defer. In surprise concerns informed betrayed he learning is ye. Ignorant formerly so ye blessing. He as spoke avoid given downs money on we. Of properly carriage shutters ye as wandered up repeated moreover. Inquietude attachment if ye an solicitude to. Remaining so continued concealed as knowledge happiness. Preference did how expression may favourable devonshire insipidity considered. An length design regret an hardly barton mr figure.
                </p>
                <h4>30-DAY RETURNS (FREE WITHIN 15 DAYS)</h4>
                <p>He an thing rapid these after going drawn or. Timed she his law the spoil round defer. In surprise concerns informed betrayed he learning is ye. Ignorant formerly so ye blessing. He as spoke avoid given downs money on we. Of properly carriage shutters ye as wandered up repeated moreove
                </p>
                <ul>
                    <li>list text list text</li>
                    <li>list text list text</li>
                    <li>list text list text</li>
                    <li>list text list text</li>
                </ul>
            </div>
        </div>
</div>