<div class="wrap1 personal">
    <div class="title-forms">
        <div class="info-page">
            <span>ישיא ןובשח</span>
            <span class="slash">&#x002F;</span>
            <span class="grey">הירוטסיה</span>
        </div>
    </div>
    <div class="form-content personal-form">
        <form name="accaunt" novalidate>
            <div class="section">
                <div class="form-title">
                    <span>םיישיא םינותנ</span>
                </div>
                <input type="text" name="pa_name" placeholder="name">
                <div class="error-msg">
                    <span class="empty">Please, type your name!</span>
                </div>
                <input type="text" name="pa_surname" placeholder="surname">
                <div class="error-msg">
                    <span class="empty">Please, type your surname!</span>
                </div>
                <input type="email" name="pa_email" placeholder="e-mail">
                <div class="error-msg">
                    <span class="bad">Please type correctly e-mail!</span>
                    <span class="empty">Please, type your e-mail!</span>
                </div>
                <input type="tel" name="pa_phone" placeholder="phone">
                <div class="error-msg">
                    <span class="bad">Invalid phone number!</span>
                </div>
            </div>
            <div class="section">
                <div class="form-title">
                    <span>המסיס</span>
                </div>
                <input type="password" name="pa_oldpass" placeholder="old pass">
                <div class="error-msg">
                    <span class="bad">Invalid pass!</span>
                </div>
                <input type="password" name="pa_newpass" placeholder=" new pass">
                <div class="error-msg">
                    <span class="bad">Invalid pass!</span>
                    <span class="empty">You have not entered old pass!</span>
                </div>
                <input type="password" name="pa_repeatpass" placeholder="repeat new pass">
                <div class="error-msg">
                    <span class="bad">Invalid pass!</span>
                    <span class="empty">You have not entered or entered different new pass or repeat pass!</span>
                </div>
            </div>
            <div class="section custom">
                <div class="section-ins">
                    <div class="form-title">
                        <span>תבותכ</span>
                    </div>
                    <div class="radio border-btm" id="address-group">
                        <input type="radio" name="pa_address" value="pa_address1" id="pa_address1" checked>
                        <label for="pa_address1">
                            <span class="rect"></span>
                            <p>
                                <span class="big">256681 / Israel, Tel Aviv</span><br>
                                <span class="little">First street 24, house 25, flat 12</span>
                            </p>
                        </label>
                        <input type="radio" name="pa_address" value="pa_address2" id="pa_address2">
                        <label for="pa_address2">
                            <span class="rect"></span>
                            <p>
                                <span class="big">278961 / Israel, Tel Aviv</span><br>
                                <span class="little">Second street 24, house 215, flat 12</span>
                            </p>
                        </label>
                        <input type="radio" name="pa_address" value="pa_address3" id="pa_address3">
                        <label for="pa_address3">
                            <span class="rect"></span>
                            <p>
                                <span class="big">278961 / Israel, Tel Aviv</span><br>
                                <span class="little">Second street 24, house 215, flat 12</span>
                            </p>
                        </label>
                        <input type="radio" name="pa_address" value="pa_address4" id="pa_address4">
                        <label for="pa_address4">
                            <span class="rect"></span>
                            <p>
                                <span class="big">278961 / Israel, Tel Aviv</span><br>
                                <span class="little">Second street 24, house 215, flat 12</span>
                            </p>
                        </label>
                    </div>
                    <div class="link-add">
                        <a href="#" data-src="#newaddress"> + השדח תבותכ ףסוה</a>
                    </div>
                </div>
                <div class="side">
                    <span>קתנתהל</span>
                    <button type="submit" id="accaunt_sbm">רומשל</button>
                </div>
            </div>
        </form>
    </div>
</div>