<div class="wrap1 product">
    <div class="tree">
        <div class="tree-ins">
            <span>LABASS</span>
            <div class="info-page">
                <span class="arrow">&gt;</span>
                <span>category</span>
                <span class="arrow">&lt;</span>
                <span>undercategory</span>
                <span class="arrow">&lt;</span>
                <span>product name</span>
            </div>
        </div>
    </div>
    <div class="product-group">
        <div class="half-prod-group">
            <div class="description-group">
                <div class="dvs title-group">
                    <div class="article-desc">
                        <span>Article code: CB, Surgical Steel 316L</span>
                    </div>
                    <div class="name">
                        <span>CIRCULAR BARBELL</span>
                        <a href="#"></a>
                    </div>
                </div>
                <div class="dvs price">
                    <span>₪15</span>
                </div>
                <div class="dvs net">
                    <div class="net-desc">
                        <span>חתנ</span>
                    </div>
                    <div class="net-group">
                        <div class="instagram">
                            <a href="#"></a>
                        </div>
                        <div class="facebook">
                            <a href="#"></a>
                        </div>
                        <div class="whatsapp">
                            <a href="#"></a>
                        </div>
                    </div>
                </div>
                <div class="dvs desc-text">
                    <span>Make a stylish statement with our circular barbell made of surgical steel. From small and
                        pretty to pretty damn massive. Please select gauge and diameter. For inspiration, check out our
                        gallery of action shots.</span>
                </div>
            </div>
            <div class="form-content form-group">
                <form name="product" novalidate>
                    <div class="resize1">
                        <select name="color" id="prod_color">
                            <option value="color1" selected>color 1</option>
                            <option value="color2">color 2</option>
                            <option value="color3">color 3</option>
                            <option value="color4">color 4</option>
                        </select>
                        <select name="prod_size">
                            <option value="sz1" selected>18 mm diameter</option>
                            <option value="sz2">17 mm diameter</option>
                            <option value="sz3">16 mm diameter</option>
                        </select>
                        <div class="hide-colors">
                            <img src="../images/products/prod_select1.png" alt="" data-color="color1">
                            <img src="../images/products/prod_select2.png" alt="" data-color="color2">
                            <img src="../images/products/prod_select3.png" alt="" data-color="color3">
                            <img src="../images/products/prod_select4.png" alt="" data-color="color4">
                        </div>
                    </div>
                    <div class="count-group">
                        <a href="#" class="minus"></a>
                        <input type="number" name="count" class="number" value="01" id="prod_qty_n">
                        <a href="#" class="plus"></a>
                    </div>
                    <div class="buttons-group">
                        <div class="btn-dv1">
                            <button type="submit" id="prod_sbm">
                                <span>ADD TO CART</span>
                            </button>
                        </div>
                        <div class="btn-dv2">
                            <a href="#" data-fancybox data-src="#fast_buy">
                                <span>FAST BUY</span>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="half-prod-group">
            <div class="prod-exemp-group">
                <div class="prod-img">
                    <img src="../images/products/prodc_1.png" alt="">
                </div>
                <div class="exemp-group">
                    <div class="exemp">
                        <a href="../images/products/prodc1.jpg" data-fancybox>
                            <img src="../images/products/prodc1.jpg" alt="" />
                        </a>
                    </div>
                    <div class="exemp">
                        <a href="../images/products/prodc2.jpg" data-fancybox>
                            <img src="../images/products/prodc2.jpg" alt="" />
                        </a>
                    </div>
                    <div class="exemp">
                        <a href="../images/products/prodc1.jpg" data-fancybox>
                            <img src="../images/products/prodc1.jpg" alt="" />
                        </a>
                    </div>
                    <div class="exemp">
                        <a href="../images/products/prodc2.jpg" data-fancybox>
                            <img src="../images/products/prodc2.jpg" alt="" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gallery-instagr">
        <div class="gallery-instagr-ins">
            <div class="control-panel">
                <btton id="inst_btn_prev" class="gallery-btn-inst"></btton>
                <div class="title-group">
                    <div class="inst-ico"></div>
                    <span>INSTAGRAM action shots</span>
                </div>
                <btton id="inst_btn_next" class="gallery-btn-inst"></btton>
            </div>
            <div class="images-grop">
                <a href="#" class="img-inst">
                    <img src="../images/products/gal10.jpg" alt="">
                    <div class="shade">
                        <p>
                            <span class="inst-mark"></span>
                            <span class="text">view it</span>
                        </p>
                    </div>
                </a>
                <a href="../images/products/gal10b.jpg" class="img-inst" data-fancybox>
                    <img src="../images/products/gal11.jpg" alt="">
                    <div class="shade">
                        <p>
                            <span class="inst-mark"></span>
                            <span class="text">view it</span>
                        </p>
                    </div>
                </a>
                <a href="../images/products/gal11b.jpg" class="img-inst" data-fancybox>
                    <img src="../images/products/gal12.jpg" alt="">
                    <div class="shade">
                        <p>
                            <span class="inst-mark"></span>
                            <span class="text">view it</span>
                        </p>
                    </div>
                </a>
                <a href="../images/products/gal13b.jpg" class="img-inst" data-fancybox>
                    <img src="../images/products/gal13.jpg" alt="">
                    <div class="shade">
                        <p>
                            <span class="inst-mark"></span>
                            <span class="text">view it</span>
                        </p>
                    </div>
                </a>
                <a href="../images/products/gal14b.jpg" class="img-inst" data-fancybox>
                    <img src="../images/products/gal14.jpg" alt="">
                    <div class="shade">
                        <p>
                            <span class="inst-mark"></span>
                            <span class="text">view it</span>
                        </p>
                    </div>
                </a>
                <a href="../images/products/gal15b.jpg" class="img-inst" data-fancybox>
                    <img src="../images/products/gal15.jpg" alt="">
                    <div class="shade">
                        <p>
                            <span class="inst-mark"></span>
                            <span class="text">view it</span>
                        </p>
                    </div>
                </a>
                <a href="../images/products/gal10b.jpg" class="img-inst" data-fancybox>
                    <img src="../images/products/gal10.jpg" alt="">
                    <div class="shade">
                        <p>
                            <span class="inst-mark"></span>
                            <span class="text">view it</span>
                        </p>
                    </div>
                </a>
                <a href="../images/products/gal11b.jpg" class="img-inst" data-fancybox>
                    <img src="../images/products/gal11.jpg" alt="">
                    <div class="shade">
                        <p>
                            <span class="inst-mark"></span>
                            <span class="text">view it</span>
                        </p>
                    </div>
                </a>
                <a href="#" class="img-inst">
                    <img src="../images/products/gal12.jpg" alt="">
                    <div class="shade">
                        <p>
                            <span class="inst-mark"></span>
                            <span class="text">view it</span>
                        </p>
                    </div>
                </a>
                <a href="#" class="img-inst">
                    <img src="../images/products/gal13.jpg" alt="">
                    <div class="shade">
                        <p>
                            <span class="inst-mark"></span>
                            <span class="text">view it</span>
                        </p>
                    </div>
                </a>
                <a href="#" class="img-inst">
                    <img src="../images/products/gal14.jpg" alt="">
                    <div class="shade">
                        <p>
                            <span class="inst-mark"></span>
                            <span class="text">view it</span>
                        </p>
                    </div>
                </a>
                <a href="#" class="img-inst">
                    <img src="../images/products/gal15.jpg" alt="">
                    <div class="shade">
                        <p>
                            <span class="inst-mark"></span>
                            <span class="text">view it</span>
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="gallery-product product-section">
        <div class="gallery-product-ins">
            <div class="control-panel">
                <btton id="prod_btn_prev" class="gallery-btn-prod"></btton>
                <div class="title-group">
                    <span class="point"></span>
                    <span>ירלופופ םג</span>
                    <span class="point"></span>
                </div>
                <btton id="prod_btn_next" class="gallery-btn-prod"></btton>
            </div>
            <div class="prod-group">
                <div class="prod-item prod-gallery">
                    <a href="#">
                        <div class="image">
                            <img src="../images/products/prod1.jpg" alt="">
                            <div><span>שדח</span></div>
                        </div>
                        <div class="prod-title-group">
                            <span class="first-text">מנהרה</span>
                            <span class="last-text">שיפ ילנוט</span>
                        </div>
                        <div class="prod-data-group">
                            <span class="price">₪27</span>
                            <span>CRAWLER </span>
                        </div>
                    </a>
                    <a href="#" class="like"></a>
                    <a href="#" class="buy"></a>
                </div>
                <div class="prod-item prod-gallery">
                    <a href="#">
                        <div class="image">
                            <img src="../images/products/prod2.jpg" alt="">
                            <div class="new"><span>שדח</span></div>
                        </div>
                        <div class="prod-title-group">
                            <span class="first-text">מנהרה</span>
                            <span class="last-text">שיפ ילנוט</span>
                        </div>
                        <div class="prod-data-group">
                            <span class="price">₪27</span>
                            <span>CRAWLER </span>
                        </div>
                    </a>
                    <a href="#" class="like"></a>
                    <a href="#" class="buy"></a>
                </div>
                <div class="prod-item prod-gallery">
                    <a href="#">
                        <div class="image">
                            <img src="../images/products/prod3.jpg" alt="">
                            <div><span>שדח</span></div>
                        </div>
                        <div class="prod-title-group">
                            <span class="first-text">מנהרה</span>
                            <span class="last-text">שיפ ילנוט</span>
                        </div>
                        <div class="prod-data-group">
                            <span class="price">₪27</span>
                            <span>CRAWLER </span>
                        </div>
                    </a>
                    <a href="#" class="like"></a>
                    <a href="#" class="buy"></a>
                </div>
                <div class="prod-item prod-gallery">
                    <a href="#">
                        <div class="image">
                            <img src="../images/products/prod4.jpg" alt="">
                            <div><span>שדח</span></div>
                        </div>
                        <div class="prod-title-group">
                            <span class="first-text">מנהרה</span>
                            <span class="last-text">שיפ ילנוט</span>
                        </div>
                        <div class="prod-data-group">
                            <span class="price">₪27</span>
                            <span>CRAWLER </span>
                        </div>
                    </a>
                    <a href="#" class="like"></a>
                    <a href="#" class="buy"></a>
                </div>
                <div class="prod-item prod-gallery">
                    <a href="#">
                        <div class="image">
                            <img src="../images/products/prod1.jpg" alt="">
                            <div class="new"><span>שדח</span></div>
                        </div>
                        <div class="prod-title-group">
                            <span class="first-text">מנהרה</span>
                            <span class="last-text">שיפ ילנוט</span>
                        </div>
                        <div class="prod-data-group">
                            <span class="price">₪27</span>
                            <span>CRAWLER </span>
                        </div>
                    </a>
                    <a href="#" class="like"></a>
                    <a href="#" class="buy"></a>
                </div>
                <div class="prod-item prod-gallery">
                    <a href="#">
                        <div class="image">
                            <img src="../images/products/prod2.jpg" alt="">
                            <div class="new"><span>שדח</span></div>
                        </div>
                        <div class="prod-title-group">
                            <span class="first-text">מנהרה</span>
                            <span class="last-text">שיפ ילנוט</span>
                        </div>
                        <div class="prod-data-group">
                            <span class="price">₪27</span>
                            <span>CRAWLER </span>
                        </div>
                    </a>
                    <a href="#" class="like"></a>
                    <a href="#" class="buy"></a>
                </div>
                <div class="prod-item prod-gallery">
                    <a href="#">
                        <div class="image">
                            <img src="../images/products/prod3.jpg" alt="">
                            <div><span>שדח</span></div>
                        </div>
                        <div class="prod-title-group">
                            <span class="first-text">מנהרה</span>
                            <span class="last-text">שיפ ילנוט</span>
                        </div>
                        <div class="prod-data-group">
                            <span class="price">₪27</span>
                            <span>CRAWLER </span>
                        </div>
                    </a>
                    <a href="#" class="like"></a>
                    <a href="#" class="buy"></a>
                </div>
                <div class="prod-item prod-gallery">
                    <a href="#">
                        <div class="image">
                            <img src="../images/products/prod4.jpg" alt="">
                            <div class="new"><span>שדח</span></div>
                        </div>
                        <div class="prod-title-group">
                            <span class="first-text">מנהרה</span>
                            <span class="last-text">שיפ ילנוט</span>
                        </div>
                        <div class="prod-data-group">
                            <span class="price">₪27</span>
                            <span>CRAWLER </span>
                        </div>
                    </a>
                    <a href="#" class="like"></a>
                    <a href="#" class="buy"></a>
                </div>
            </div>
        </div>
    </div>
</div>